<a href="https://colab.research.google.com/github/Glolight/CWW-Python-program/blob/main/week3DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Data Structure

In [ ]:
# create a list
my_list = [1, 2, 4, 5]

           0  1  2  3
my_list = [4, 2, 1, 5]

another_list = [1, 2, 3, 4]

In [ ]:
# Indexing a list
len_of_list = len(my_list)
print(len_of_list)
# print(len_of_list)
list_range = range(4)
# help(range)
print(list(list_range))
new_list = []
# simple interations is
# for i in range(len_of_list):
#     print(i)
#     if my_list[i] == 4:
#         print("You caught me")
#         pass
#     else:
#         new_list.append(my_list[i])

for data in my_list:
    print(data)

print(data)
# print(new_list)

4
[0, 1, 2, 3]
1
2
4
5
5

In [ ]:
# Unpacking a list
students_names = ["Name1", "Name2", "Name3", "Name4"]
student_1, student_2, student_3, student_4 = students_names
print(student_1)

Name1

In [ ]:
help(list)

In [ ]:
# Removing Items from a list
my_list = [4, 2, 1, 5, 3]

[4, 2, 1, 5, 3]
[3, 5, 1, 2, 4]

In [ ]:
# Retrieve index of an item ina list
my_list = [1, 2, 3, 4, 5]
index = my_list.index(3)
print(index)

2

In [ ]:
# Copying a list
old_list = [1, 2, 3, 4, 5]
new_list = old_list.copy()
print(new_list)

In [ ]:
# check list methods

## Tuples

In [ ]:
# difference between a tuple and a list
"""
- Mutability -> List
- Memory effeciency -> Tuple
- Performance -> Tuple
- Security -> Tuple
- Growth -> List
"""

'\n- Mutability -> List\n- Memory effecient -> Tuple\n'

In [ ]:
list_of_data = [1, (1, 2, 4), 6]
list_of_data[0] = 3
print(list_of_data)

the_tuple = list_of_data[1]
print(the_tuple)

[3, (1, 2, 4), 6]
(1, 2, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# create a tuple
my_first_tuple = (1, 4, 6, (3, 5))
print(my_first_tuple)
# this is just getting sub item list of the tuple data structure
my_first_tuple[3][0] = 2
print(my_first_tuple)


# created_tuple = (1, 2, 3, 4, 5)
# convert_list = list(created_tuple)
# convert_list.append(6)
# print(convert_list)

(1, 4, 6, (3, 5))
(1, 4, 6, (3, 5))

In [ ]:
help(tuple)

In [ ]:
# accessing item in a tuple
created_tuple = (1, 2, 2, 3, 4, 5)
print(created_tuple[2])
sliced_tuple = created_tuple[1:3]

print(sliced_tuple)
count_2 = sliced_tuple.count(2)
print(count_2)

2
(2, 2)
2

In [ ]:
help(tuple)

In [ ]:
# merging tuples
tup_1 = (1, 2, 3)
tup_2 = (1, 2, "last")
tup_3 = tup_1 + tup_2
print(tup_3)

(1, 2, 3, 1, 2, 'last')

In [ ]:
# loop through a tuple
len_tup_3 = len(tup_3)

idx = len_tup_3 - 1
print(tup_3[idx])
# name = "Ayobami"
# len_name = len(name)
# print(len_name)
for i in range(len_tup_3):
    print(tup_3[i])

last
1
2
3
1
2
last

In [ ]:
# get the len of a tuple

## Sets

In [ ]:
# what is a set
# set is a collection of unique items

In [ ]:
print(help(set))

In [ ]:
duplicates = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(duplicates)
unique_items = set(duplicates)
print(unique_items)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [ ]:
# create a set
set_1 = {1, 2, 3, 4, 5, 5}
print(set_1)
# set_2 = {3, 4, 5, 6, 7}

# set_3 = set_1 ^ set_2
# print(set_3)

{1, 2, 3, 4, 5}

**PSet 1**:

- Create A todolist containing your to daily Todos using either a list or
 a Tuple
- Perform some operations for get a particular day todos one after the other, and add the add the operation that shows all your todos for the days accordingly.

#####**Hints**:
- Use an Iteration
- Leverage the power of indexing

In [ ]:
help(set)

In [ ]:
# basic set operations
# Union | combination of two sets
# Intersection &  intersection of 2 sets are set of items that exists in both sets
# Difference - difference of set a and set b is whats in a and not in b
# Symmetric Difference ^ set of elements in either sets but not in their intersection

In [ ]:
# last Session Recap
# Challenge 1: Create a set that contatins five students name

set_1 = {"Ayo", "Femi", "Chika", "John","Aliu"}
set_2 = {"Dele", "Chika"}

intersection = set_1 & set_2
print(intersection)





# Challenge 2: Combine the 2 sets
# set_3 = set_1.union(set_2)
# print(set_3)

# set_3 = set_1 | set_2
# print(set_3)

# # Challenge 3: Get the intersection of the 2 sets
# set_3 = set_1 & set_2
# print(set_3)
# # or
set_3 = set_1.intersection(set_2)
print(set_3)

{'Chika'}

In [ ]:
new_set = set_2 - set_1
print(new_set)

{'Dele'}

In [ ]:
sym_diff = set_1 ^ set_2
print(sym_diff)

{'John', 'Dele', 'Ayo', 'Aliu', 'Femi'}

## Dictionary aka Map

In [ ]:
print(help(dict))

In [ ]:
my_data = {
    "Name": "Ayo", #(Name, Ayo)
    "Age": 21,
    "Country": "Nigeria",
    "Skills": ["Python", "Go", "Java", "JavaScript"],
    "Projects": ("Project1", "Project2"),
    "My_bio": {
        "Name": "Ayo",
        "Age": 21,
        "Country": "Nigeria"
    }
}


# retrieve values of a dict
my_name = my_data["Name"]
print(my_name)

keys = my_data.keys()
# # get the keys of a list
print(list(keys))

# # add new key-value to the dict
my_data["DoesNotExist"] = "Ayobami"
print(my_data)

# looping through a dictionary

for key, val in my_data.items():
    print(f"My {key} is {val}")

for key in my_data.keys():
    print(f"My {key} is {my_data[key]}")

for val in my_data.values():
    print(val)


# # # delete key value pair in a dict
# del my_data["DoesNotExist"]
# print(my_data)

In [ ]:
# create a dict
my_data = {
    "Name": "Ayo",
    "Age": 21,
    "Country": "Nigeria",
    "Skills": ["Python", "Go", "Java", "JavaScript"],
    "Projects": ("Project1", "Project2"),
    "My_bio": {
        "Name": "Ayo",
        "Age": 21,
        "Country": "Nigeria"
    }
}

# len of dict

# retrieve values of a dict
my_name = my_data.get("Name")
print(my_name)

# keys = my_data.keys()
# # get the keys of a list
# print(list(keys))

# add new key-value to the dict
# my_data["Gender"] = "Male"
# print(my_data)

# my_data["Name"] = "Ayobami"
# print(my_data)

# check if key in dict
my_data = {
    "Name": "Ayo",
    "Age": 21,
    "Country": "Nigeria"
}

print("name" in my_data)

# # delete key value pair in a dict
# del my_data["Country"]
print(my_data)

# create a copy of a dict
new_dict = my_data.copy()
print(f"This is my new data: {new_dict}")

# # get all values in a dict
values = my_data.values()
print(list(values))

# get all items from a dict
items = my_data.items()
print(list(items))

a, c = (3, 5)
print(a, c)

# loop through a dict to get the key and value
for key, value in my_data.items():
    print(f"My {key} is {value}")

for val in my_data.values():
    print(val)

Ayo
False
{'Name': 'Ayo', 'Age': 21, 'Country': 'Nigeria'}
This is my new data: {'Name': 'Ayo', 'Age': 21, 'Country': 'Nigeria'}
['Ayo', 21, 'Nigeria']
[('Name', 'Ayo'), ('Age', 21), ('Country', 'Nigeria')]
3 5
My Name is Ayo
My Age is 21
My Country is Nigeria
Ayo
21
Nigeria

## List Comprehension

In [ ]:
# List Comprehension
new_comp = [i for i in range(10)]

# new_list = []
# for i in range(10):
#     new_list.append(i)
print(new_comp)

new_comp_2 = [i for i in range(10) if i % 2 == 0] # filters all even number
print(new_comp_2)
hold = []
my_list = range(10)
for j in my_list:
    if j % 2 == 0:
        hold.append(i)
else:
    pass

print(f"This hold: {hold}")
print(f"This new comp: {new_comp_2}")

squared_list = [i**2 for i in range(10)]
print(squared_list)

nested_list = [[i for i in range(2)] for j in range(10)]
print(nested_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
This hold: [0, 2, 4, 6, 8]
This new comp: [0, 2, 4, 6, 8]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[[0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1]]

In [ ]:
# List comprehension with Lambda
comp_with_lambda = [(lambda x: x**2)(x) for x in range(10)]
print(comp_with_lambda)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Challenge 4: Create new list of your hobbies and print them out one after the other with their index
hobbies = ["Running",  "Gaming", "Swimming", "Coding", "Reading", "Sleeping", "Baking"]

for idx in range(len(hobbies)):
    print(f"Index {idx} - {hobbies[idx]}")

num = 0
while num < len(hobbies):
    print(f"Index {num} - {hobbies[num]}")
    num += 1

### Psets

Pset4: Use a lamba expression to double each items in list of range 1 - 50 using List Comprehension

Pset2: Create a dictionary that contains your basic bio info, with must have property of skills which is a list of your skills

Pset3: Loop through your bio dict and print the key and values to stdout, for skills, Make `Skills` as an heading and print all the skills out too.


Structure of your output
- My name is Ayo
- My Age is 21
- My Skils are:
  - Python
  - Go
  - Java
  - JavaScript